*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(homepage1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}


.logo {
    text-decoration:none;
    color: #fff;
    font-size: 30px;
    font-family: big john;
    padding: 20px 0;
    width: 20%;
    float: left;
}

.navbar{
    width: 85%;
    height:5%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    
}


button {
    color:#fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;

}


.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;

}
h1{
    font-size: 80px;
    margin: 10px 0  30px;
    line-height: 80px;
}

.side-bar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(#000545, #0007);
    position: absolute;
    right: 0;
    top: 0;

}

.menu {
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.social-links img, .useful-links img{

    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links {
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;

}